body {
	margin: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21 px;
	color: 333333;
	text-transform: uppercase;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #333333;
}

h2 {
	font-size: 21px;
	font-weight: bold;
	color: black;
}


/*
=================================================
-------------------LOYOUT------------------------=================================================
*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	min-width: 768px;
	padding: 0;
	margin: 0px auto;
	background-color: #fff;
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}


/*----------------------header----------------------*/

.main-navigation-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

.main-navigation-list li {
	/*	background-color: aqua;*/
	width: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-navigation-link {
	text-decoration: none;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}


/*---------------------main-index-----------------------*/

.logo-top {
	position: absolute;
	left: 50%;
	z-index: 2;
	margin-left: -70px;
}

div.welcome-img {
	background-image: url("../img/background.jpg");
	background-position: 30% 20%;
	background-repeat: no-repeat;
	min-height: 518px;
	position: relative;
	margin-bottom: 66px;
	margin-bottom: 60px;
	position: relative;
}

div.welcome {
	position: relative;
}

div.welcome-img::after {
	content: "";
	position: absolute;
	background: url("../img/white-block.png") no-repeat;
	background-position: center;
	left: 0%;
	bottom: 0%;
	display: block;
	width: 100%;
	height: 57px;
}

.about-main-title {
	width: 47%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 56px;
}

.about-title {
	width: 33.33%;
	text-align: center;
	min-height: 256px;
}

.about-top,
.about-middle {
	background: #81b3d2;
	color: #ffffff;
}


/*Здесь лучше margin-top or padding ?*/

.about-title h2 {
	margin-top: 53px;
	margin-bottom: 22.5px;
	max-width: 150px;
	margin-right: auto;
	margin-left: auto;
	color: #ffffff;
}

.about-down h2 {
	color: #000000;
}

.about-title p {
	max-width: 305px;
	margin-right: auto;
	margin-left: auto;
}

.feature-item-image {
	display: block;
	padding-top: 82px;
	margin-top: 82px;
	margin-bottom: 30px;
}

.feature-item-image::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 40%;
	width: 75px;
	height: 72px;
	background: url("../img/spritesheet.png") no-repeat center;
}

.feature-item-image.house::before {
	background-position: -10px -314px;
}

.feature-item-image.burger::before {
	width: 74px;
	height: 70px;
	background-position: -10px -128px;
}

.feature-item-image.gift::before {
	width: 64px;
	height: 76px;
	background-position: -10px -218px;
}

.about-image {
	width: 66.66%;
	max-height: 255px;
	overflow: hidden;
}

.features-item {
	width: 33.33%;
	min-height: 332px;
	text-align: center;
	position: relative;
}

.about-down {
	margin-bottom: 56px;
	background: #eeeeee;
}

.hotel-search-title {
	width: 47%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 56px;
}

.hotel-search-map {
	width: 47%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	min-height: 500px;
}


/*--------------Main-hotels----------------*/

.filter-search {
	min-height: 218px;
	margin-bottom: 30px;
	background-image: url(../img/backgraund-hotels.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 1200px auto;
	padding-top: 30px;
	padding-right: 6.08%;
	padding-left: 6.08%;
}

.search-result {
	min-height: 85px;
	padding-right: 6.08%;
	padding-left: 6.08%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
	padding-top: 31px;
}

.search-result-number {
	margin-right: 4.1%;
}

legend {
	padding: 0;
	display: table;
	margin-bottom: 30px;
}

fieldset {
	border: 0;
	padding-top: 56px;
	display: none;
}

label {
	display: inline-block;
	margin-bottom: 22px;
}

.search-result-preview {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	margin-right: 37.5%
}

.search-result-adjustment {
	margin-right: 3.3%;
}

.search-result-preview li {
	display: inline-block;
	margin-right: 40px;
}

.hotel {
	padding-bottom: 30px;
	padding-right: 6.08%;
	padding-left: 6.08%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.hotel-image {
	margin-right: 2.5%;
}

.hotel-info {
	width: 21.6%;
	padding: 0;
}

.hotel-info h1 {
	margin: 0px;
	padding: 0px;
}

main {
	margin-bottom: 35px;
}


/*-----------------Footer-----------------*/

footer {
	margin-top: 80px;
	padding-right: 6.08%;
	padding-left: 6.08%;
	text-align: center;
}

.tag {
	width: 33.33%;
}

.social {
	width: 33.33%;
	margin-bottom: 34px;
}

< .footer-copyright {
	width: 33.33%;
}


/*----------sprite------------*/

.sprite {
	background-image: url(spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}

.sprite-academy-logo-blue {
	width: 113px;
	height: 39px;
	background-position: -10px -10px;
}

.sprite-academy-logo-grey {
	width: 113px;
	height: 39px;
	background-position: -10px -69px;
}

.sprite-feature-item-burger {
	width: 74px;
	height: 70px;
	background-position: -10px -128px;
}

.sprite-feature-item-gift {
	width: 64px;
	height: 76px;
	background-position: -10px -218px;
}

.sprite-feature-item-house {
	width: 75px;
	height: 72px;
	background-position: -10px -314px;
}

.sprite-icon-checked-box {
	width: 26px;
	height: 22px;
	background-position: -10px -406px;
}

.sprite-icon-down-search {
	width: 11px;
	height: 10px;
	background-position: -10px -448px;
}

.sprite-icon-empty-box {
	width: 22px;
	height: 22px;
	background-position: -10px -478px;
}

.sprite-icon-up-search {
	width: 11px;
	height: 10px;
	background-position: -10px -520px;
}

.sprite-logo-academy {
	width: 113px;
	height: 39px;
	background-position: -10px -550px;
}

.sprite-social-f {
	width: 10px;
	height: 19px;
	background-position: -10px -609px;
}

.sprite-social-t {
	width: 17px;
	height: 15px;
	background-position: -10px -648px;
}

.sprite-social-y {
	width: 20px;
	height: 16px;
	background-position: -10px -683px;
}


/*----------------------------------*/

.features-item p {
	max-width: 305px;
	margin-right: auto;
	margin-left: auto;
}

.btn-hotel-search {
	padding: 16px 0px;
	width: 564px;
}

.btn-brown {
	display: inline-block;
	background-color: #766357;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	padding: 16px 47px;
}

.btn-brown:hover,
.btn-brown:active {
	background-color: #604e43;
}

.btn-brown.disabled,
.btn-brown:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #503e33;
}

.btn-brown.disabled:hover,
.btn-brown:disabled:hover {
	background-color: #503e33;
}

.btn-blue {
	display: inline-block;
	background-color: #81b3d2;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	padding: 15px 190px;
}

.btn-blue:hover,
.btn-blue:active {
	background-color: #669ec0;
}

.btn-blue.disabled,
.btn-blue:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #5496bd;
}

.btn-blue.disabled:hover,
.btn-blue:disabled:hover {
	background-color: #5496bd;
}

input {
	display: inline-block;
	background: #f2f2f2;
}

input:nth-child(2),
input:nth-child(5) {
	width: 344px;
}

form.hotel-search-form {
	padding: 0;
	margin: 0;
	min-width: 656px;
	height: 399px;
	background: #ffffff;
	display: block;
	width: 20%;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: 333333;
	text-transform: uppercase;
	font-weight: 700;
}

.tag a {
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.social-item {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #81b3d2 url("../img/spritesheet.png") no-repeat center;
}

.social-item:hover,
.social-item:active {
	background-color: #669ec0;
}

.social.disabled,
.social:disabled {
	cursor: default;
	background-color: 5496bd;
	opacity: 0.5;
}

.social.disabled:hover,
.social:disabled:hover {
	background-color: #5496bd;
}

.btn-blue-tw {
	background-position: 2px -635px;
}

.btn-blue-fb {
	background-position: 4px -597px;
}

.btn-blue-yt {
	background-position: 2px -670px;
}

.footer-copyright a {
	margin-bottom: 30px;
	margin-right: 100px;
	padding-right: 125px;
	position: relative;
	text-decoration: none;
}

.html-academy {
	position: absolute;
	left: 85px;
	bottom: -90%;
	background: url("../img/spritesheet.png") no-repeat;
	width: 113px;
	height: 39px;
	background-position: -10px -550px;
}


/*Подскажи пожалуйста как сделать так что бы hover работало, я пробовал через псевдо-элемент, но не получилось.*/

.html-academy::hover {
	width: 113px;
	height: 39px;
	background-position: -10px -10px;
}