body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21 px;
	color: 333333;
	text-transform: uppercase;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #333333;
}

h2 {
	font-size: 21px;
	font-weight: bold;
	color: black;
}


/*
=================================================
-------------------LOYOUT------------------------=================================================
*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	min-width: 768px;
	padding: 0;
	margin: 0px auto;
	background-color: #fff;
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}


/*----------------------header----------------------*/

.main-navigation-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

.main-navigation-list li {
	/*	background-color: aqua;*/
	width: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-navigation-link {
	text-decoration: none;
}


/*---------------------main-index-----------------------*/

.logo-top {
	position: absolute;
	left: 50%;
	z-index: 2;
	margin-left: -70px;
}

div.welcome-img {
	background-image: url("../img/background.jpg");
	background-position: 30% 20%;
	background-repeat: no-repeat;
	min-height: 518px;
	position: relative;
	margin-bottom: 66px;
	margin-bottom: 60px;
}

.white-blog {
	display: block;
	position: absolute;
	top: 88.9%;
	width: 100%;
}

.about-main-title {
	width: 47%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 56px;
}

.about-title {
	width: 33.33%;
	text-align: center;
}

.about-image {
	width: 66.66%;
	max-height: 255px;
}

.features-item {
	width: 33.33%;
	min-height: 332px;
	text-align: center;
}

.about-title {
	min-height: 256px;
}

.about-down {
	margin-bottom: 56px;
}

.hotel-search-title {
	width: 47%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 56px;
}

.hotel-search-map {
	width: 47%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	min-height: 500px;
}


/*--------------Main-hotels----------------*/

.filter-search {
	min-height: 218px;
	margin-bottom: 30px;
	background-image: url(../img/backgraund-hotels.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 1200px auto;
	padding-top: 30px;
	padding-right: 6.08%;
	padding-left: 6.08%;
}

.search-result {
	min-height: 85px;
	padding-right: 6.08%;
	padding-left: 6.08%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
	padding-top: 31px;
}

.search-result-number {
	margin-right: 4.1%;
}

legend {
	padding: 0;
	display: table;
	margin-bottom: 30px;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	min-width: 0;
	display: block;
	float: left;
	width: 20%;
}

label {
	display: block;
	margin-bottom: 22px;
}

.search-result-preview {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	margin-right: 37.5%
}

.search-result-adjustment {
	margin-right: 3.3%;
}

.search-result-preview li {
	display: inline-block;
	margin-right: 40px;
}

.hotel {
	padding-bottom: 30px;
	padding-right: 6.08%;
	padding-left: 6.08%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.hotel-image {
	margin-right: 2.5%;
}

.hotel-info {
	width: 21.6%;
	padding: 0;
}

.hotel-info h1 {
	margin: 0px;
	padding: 0px;
}

main {
	margin-bottom: 35px;
}


/*-----------------Footer-----------------*/

footer {
	padding-right: 6.08%;
	padding-left: 6.08%;
}

.tag {
	width: 33.33%;
}

.social {
	width: 33.33%;
}

< .footer-copyright {
	width: 33.33%;
}